@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');
@import url('font-awesome.min.css');

/*
	Threshold by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	@import "libs/skel";

	@include skel-breakpoints((
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 1080px)',
		narrower: '(max-width: 960px)',
		mobile: '(max-width: 736px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (40px, 40px) ),
		conditionals: true,
		containers: 1200px,
		breakpoints: (
			normal: (
				containers: 1000px,
			),
			narrow: (
				containers: 95%,
				grid: (
					gutters: (20px, 20px)
				),
			),
			narrower: (
				containers: (95%, true),
			),
			mobile: (
				containers: (90%, true),
			)
		)
	));

/* Basic */

	body {
		background: #212022;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #777777;
	}

	input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #777777;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2em;
		font-weight: 700;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	strong, b {
		font-weight: 400;
		color: #818181;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #ccc;

		&:hover {
			text-decoration: none;
		}
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	header {
		margin-bottom: 1em;

		h2 {
			font-size: 1.6em;
			font-weight: 700;
			color: #FFF;
		}

		.byline {
			display: block;
			margin: 0.8em 0 0 0;
			padding: 0 0 0.5em 0;
			color: #777777;
		}
	}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;

		> :last-child, &:last-child {
			margin-bottom: 0;
		}
	}

	.row {
		> section, > article {
			margin-bottom: 0;
		}
	}

/* Images */

	.image {
		display: inline-block;

		img {
			display: block;
			width: 100%;
		}

		&.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		&.full {
			display: block;
			width: 100%;
		}

		&.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		&.centered {
			display: block;
			margin: 0 0 2em 0;

			img {
				margin: 0 auto;
				width: auto;
			}
		}
	}

/* Lists */

	ul {
		&.list {
			margin: 0;
			padding: 0;

			li {
				width: 45%;
				margin: 0em 1.00em 3.4em 1.00em;
				padding: 0em;
				display: inline-block;

				&:first-child {
					margin-top: 0;
				}
			}

			h3 {
				display: block;
				margin-bottom: 0.70em;
				font-size: 1.4em;
				color: #FFF;
			}

			.button {
				margin-top: 0.4em;
			}
		}

		&.default {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: block;
				padding: 0.60em 0em;
				border-top: 1px solid #302e31;

				&:first-child {
					padding-top: 0;
					border-top: none;
				}
			}

			a {
				text-decoration: none;
				color: #888787;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.icon {
			li {
				position: relative;
				display: inline-block;
				margin: 0em 2em;
			}
		}

		&.icons {
			cursor: default;

			li {
				display: inline-block;
			}

			a {
				display: inline-block;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				border: 0;
			}
		}

		&.info {
			li {
				padding: 2em 0 1.5em 0;
				border-top: 1px solid #302e31;

				&:first-child {
					padding-top: 0;
					border-top: none;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}

			h3 {
				display: inline-block;
				padding-bottom: 0.50em;
				font-size: 1.1em;
				color: #FFF;
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.menu {
			cursor: default;

			li {
				display: inline-block;
				line-height: 1em;
				border-left: solid 1px #ddd;
				padding: 0 0 0 0.5em;
				margin: 0 0 0 0.5em;

				&:first-child {
					border-left: 0;
					padding-left: 0;
					margin-left: 0;
				}
			}
		}

		&.actions {
			cursor: default;

			li {
				display: inline-block;
				margin: 0 0 0 0.5em;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

/* Forms */

	form {
		.actions {
			padding-top: 0;
		}

		label {
			display: block;
		}

		input.text, select, textarea {
			@include vendor('transition', 'border-color 0.25s ease-in-out');
			-webkit-appearance: none;
			display: block;
			width: 100%;
			padding: 0.60em 0.85em;
			background: none;
			border: solid 1px #302e31;
			border-radius: 0.35em;
			outline: none;
			color: rgba(255, 255, 255, 0.8);

			&:focus {
				border-color: #3d3c3e;
			}
		}

		textarea {
			min-height: 14em;
		}

		.formerize-placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
			color: #555 !important;
		}
		::-moz-focus-inner {
			border: 0;
		}
	}

/* Tables */

	table {
		width: 100%;

		&.default {
			width: 100%;

			tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			td {
				padding: 0.5em 1em 0.5em 1em;
			}

			th {
				text-align: left;
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
			}

			thead {
				background: #444;
				color: #fff;
			}

			tfoot {
				background: #eee;
			}
		}
	}

/* Buttons */

	.button {
		@include vendor('transition', 'background-color 0.25s ease-in-out');
		position: relative;
		display: inline-block;
		border: 0;
		padding: 0em 1.25em;
		background: #5ea2c5;
		border-radius: 5px;
		line-height: 2.65em;
		text-decoration: none;
		text-align: center;
		font-size: 1em;
		font-weight: 900;
		color: #fff;
		cursor: pointer;

		&:hover {
			background: #ca4047;
		}
	}

/* Icons */

	.fa {
		text-decoration: none;

		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.solo span {
			display: none;
		}
	}

/* Header */

	#header {
		position: relative;
		padding: 2.5em 0em;

		.container {
			position: relative;
		}
	}

/* Logo */

	#logo h1 {
		color: #FFF;

		a {
			display: block;
			font-size: 1.7em;
			font-weight: 900;
			color: #FFF;
		}
	}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: 0;

		> ul {
			> li {
				margin-left: 2em;
				display: inline-block;

				&:first-child {
					margin-left: 0;
				}

				> ul {
					display: none;
				}

				> a, > span {
					@include vendor('transition', 'color 0.25s ease-in-out');
					display: block;
					text-decoration: none;
					font-weight: 300;
					font-size: 1.05em;
					outline: 0;
					color: #949494;
				}

				&:hover {
					> a, > span {
						color: #fff;
					}
				}

				&.active {
					> a, > span {
						color: #fff;
					}
				}
			}
		}
	}

	.dropotron {
		top: 0;
		text-align: left;
		line-height: 2em;
		min-width: 12em;
		background: #5ea2c5;
		line-height: 1em;
		padding: 1em 0 1em 0;
		border-radius: 8px;

		a, span {
			@include vendor('transition', 'color 0.25s ease-in-out');
			display: block;
			padding: 0.6em 1em;
			font-size: 0.90em;
			text-decoration: none;
			color: #ddd;
			color: rgba(255, 255, 255, 0.7);
		}

		a:hover {
			color: #FFF;
		}

		li {
			&.active {
				> a, > span {
					color: #FFF;
				}
			}
		}

		&.level-0 {
			margin-top: 1.25em;

			&:before {
				content: '';
				position: absolute;
				top: -1.2em;
				left: 50%;
				margin-left: -0.6em;
				width: 1.2em;
				height: 1.2em;
				border-bottom: solid 0.6em #5ea2c5;
				border-left: solid 0.6em rgba(0, 0, 0, 0);
				border-right: solid 0.6em rgba(0, 0, 0, 0);
			}
		}
	}

/* Banner */

	#banner {
		position: relative;
		padding: 5em 0em;
		border-top: 1px solid #302e30;
		color: #fff;

		.container {
			position: relative;
		}

		header {
			padding-right: 1em;

			h2 {
				font-size: 2.8em;
				font-weight: 900;
			}

			.byline {
				font-size: 1.6em;
			}
		}

		.button {
			margin-top: 0.50em;
		}
	}

	#devices {
		position: relative;
		height: 20.4em;
		min-height: 20.4em;
		top: 0em;
		right: 0;
	}

	#laptop {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.5em 3em 3.5em 3em;
		background: url(images/laptop.png) no-repeat center top;
	}

	#mobile {
		position: absolute;
		bottom: 1.3em;
		left: 0.8em;
		padding: 1.5em 0.6em 1.3em 0.6em;
		background: url(images/phone.png) no-repeat center top;
		z-index: 1;
	}

/* Wrapper */

	#wrapper {
		position: relative;
		padding: 6em 0em;
		background: #181719;
	}

	.homepage #wrapper {
		padding: 0em 0em 3em 0em;
		background: #181719 url(images/bg01.png) repeat-x;
	}

/* Main */

	#main {
		position: relative;

		.button {
			margin-top: 1em;
		}
	}

/* Content */

	#content {
		header {
			h2 {
				font-size: 2.5em;
			}

			.byline {
				font-size: 1.4em;
				color: #a7a7a7;
			}
		}

		h3 {
			display: block;
			padding: 1.5em 0em 1em 0em;
			font-size: 1.2em;
			color: #FFF;
		}
	}

	.contact #content {
		header {
			margin-bottom: 2.5em;
		}
	}

/* Footer */

	#footer {
		position: relative;
	}

/* Copyright */

	#copyright {
		padding: 3em 0em 5em 0em;
		text-align: center;
	}

/* Featured */

	#featured {
		position: relative;
		padding-top: 5em;
		border-top: 1px solid #302e31;

		.image-border {
			display: block;
			padding: 8% 9% 8% 9%;
			background: url(images/tablet.png) no-repeat center top;
			background-size: contain;
		}
	}

/* Extra #1 */

	#extra {
		position: relative;
		padding: 0;

		h3 {
			display: block;
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid #3c3c3c;
			font-size: 1.4em;
			color: #FFF;
		}

		.content {
			padding: 3em 2.2em 0em 2.2em;
		}

		.button {
			margin-top: 0.50em;
		}

		ul {
			overflow: hidden;
			background: #282729;
			border-radius: 6px;

			li {
				display: inline-block;
				float: left;
				width: 50%;
			}

			img {
				border-radius: 6px 0px 0px 6px;
			}
		}
	}

/* Extra #2 */

	#extra2 {
		position: relative;
		padding: 5em 0em;

		header {
			padding-right: 2em;

			h2, .byline {
				font-size: 1.4em;
			}
		}
	}

/* Pennant */

	.pennant {
		position: relative;
		display: inline-block;
		width: 7em;
		height: 7em;
		text-align: center;

		&:before {
			@include vendor('transform', 'rotate(45deg)');
			position: absolute;
			content: " ";
			top: 0;
			left: 0;
			border: 5px solid #282729;
			border-radius: 10px;
			display: inline-block;
			width: 7em;
			height: 7em;
			text-align: center;
		}

		.fa {
			display: block;
			text-align: center;
			color: #5ea2c5;
			z-index: 1;
			line-height: 7em;
			height: 7em;
			width: 7em;
			text-decoration: none;

			&:before {
				display: inline-block;
				vertical-align: middle;
				font-size: 2.75em;
				text-decoration: none !important;
			}
		}
	}

/* Newsletter */

	#newsletter {
		position: relative;
		padding: 3em 0em;
		border-top: 1px solid #302e31;
		border-bottom: 1px solid #302e31;

		span {
			font-weight: 700;
			font-size: 1.3em;
			color: #FFF;
		}
	}

	#subscribe {
		position: relative;

		.text {
			@include vendor('transition', 'background-color 0.25s ease-in-out');
			-webkit-appearance: none;
			display: block;
			height: 50px;
			margin: 0;
			padding: 0em 1em;
			background: #191819;
			border-radius: 0.35em;
			width: 100%;
			border: none;
			color: #777777;

			&:focus {
				background: #161516;
			}
		}

		select:focus, textarea:focus {
			background: #161516;
		}

		.submit {
			position: absolute;
			right: 0;
			top: 0;
			height: 50px;
			margin: 0;
			padding: 0em 1em 0em 1em;
			background: #5ea2c5;
			display: block;
			border: 0;
			border-radius: 0px 5px 5px 0px;
			line-height: 50px;
			text-decoration: none;
			font-size: 1em;
			font-weight: 900;
			color: #FFF;
		}
	}

/* Contact */

	#contact {
		position: relative;
		padding: 4em 0em;

		a {
			color: inherit;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			width: 24.7%;
			margin: 1em 0em;
			padding: 0;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		li .p-icon {
			float: left;
			position: relative;
			width: 3em;
			height: 3em;
			text-align: center;
			margin-right: 1.5em;

			&:before {
				@include vendor('transform', 'rotate(45deg)');
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				border: 3px solid #282729;
				border-radius: 10px;
				display: inline-block;
				width: 3em;
				height: 3em;
				line-height: 3em;
				text-align: center;
			}

			.fa {
				display: block;
				height: 3em;
				width: 3em;
				line-height: 3em;

				&:before {
					display: inline-block;
					text-align: center;
					color: #5ea2c5;
					z-index: 1;
					vertical-align: middle;
				}
			}
		}
	}

/* Device Image */

	#box1 {
		position: relative;
		height: 326px;
	}

	#box2 {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 552px;
		height: 326px;
		padding: 26px 60px 35px 60px;
		background: url(images/laptop.png) no-repeat center bottom;
		background-size: auto 100%;
	}

	#box3 {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 11;
		width: 100px;
		height: 175px;
		padding: 26px 8px 0px 8px;
		background: url(images/phone.png) no-repeat center bottom;
		background-size: auto 100%;
	}

/* Normal */

	@include breakpoint(normal) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
			}

		/* Lists */

			ul.list {
				li {
					width: 43%;
					margin: 0em 1.00em 3.4em 1.00em;
					padding: 0em;
					display: inline-block;

					&:first-child {
						margin-top: 0;
					}
				}
			}

		/* Banner */

			#banner {
				padding: 4em 0em 4em 0em;

				header {
					.byline {
						font-size: 1.3em;
					}
				}
			}

			#devices {
				height: 20.1em;
				min-height: 20.1em;
			}

			#laptop {
				width: 480px;
				height: 450px !important;
				float: none;
				position: relative;
				left: 50%;
				margin-left: -240px;
				padding: 1.4em 3.4em 3.5em 3.4em;
				background-size: 100%;
			}

			#mobile {
				bottom: 1.6em;
				left: 50%;
				margin-left: -240px;
				width: 80px;
				padding: 1.4em 0.45em 1.0em 0.45em;
				height: 150px !important;
				background-size: 100%;
			}

		/* Extra #1 */

			#extra {
				h3 {
					font-size: 1.3em;
				}

				.content {
					padding: 2em 2em 0em 2em;
				}

				.button {
					margin-top: 0.5em;
				}

				ul {
					img {
						display: block;
						height: 100%;
					}
				}

				p {
					font-size: 0.90em !important;
				}
			}

		/* Pennant */

			.pennant {
				width: 5em;
				height: 5em;

				&:before {
					@include vendor('transform', 'rotate(45deg)');
					position: absolute;
					content: " ";
					top: 0;
					left: 0;
					border: 5px solid #282729;
					border-radius: 10px;
					display: inline-block;
					width: 5em;
					height: 5em;
					text-align: center;
				}

				.fa {
					line-height: 5em;
					height: 5em;
					width: 5em;
				}
			}

		/* Contact */

			#contact {
				ul {
					font-size: 0.95em !important;
				}
			}

		/* Device Image */

			#box1 {
				height: 260px;
				margin-bottom: 1em;
			}

			#box2 {
				width: 100%;
				height: 260px;
				padding: 20px 58px 0px 58px;
			}

			#box3 {
				left: 0;
				height: 145px;
				padding: 21px 15px 0px 15px;
			}

	}

/* Narrow */

	@include breakpoint(narrow) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
			}

		/* Nav */

			#nav {
				position: absolute;
				right: 0;
				top: 0;
			}

			.dropotron.level-0 {
				margin-top: 1.4em;
			}

		/* Banner */

			#mobile {
				bottom: 0em !important;
			}

		/* Featured */

			#featured .image-border {
				padding: 8% 8% 10% 8%;
			}

		/* Extra #1 */

			#extra {
				h3 {
					display: block;
					margin-bottom: 1em;
					padding-bottom: 1em;
					border-bottom: 1px solid #3c3c3c;
					font-size: 1.2em;
					color: #FFF;
				}

				.content {
					padding: 2em 1.7em 0em 1.7em;
				}

				.button {
					margin-top: 0em;
				}
			}

		/* Device Image */

			#box1 {
				width: 400px;
				height: 240px;
				margin: 0em auto 2em auto;
			}

			#box2 {
				width: 100%;
				height: 240px;
				padding: 19px 42px 0px 42px !important;
			}

			#box3 {
				left: -1em !important;
			}

	}

/* Narrower */

	@include breakpoint(narrower) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
			}

			form {
				width: 100%;
			}

		/* Lists */

			ul {
				&.featured {
					li {
						width: 40% !important;
						margin: 0 2.5% 5% 0;
					}
				}

				&.list {
					text-align: center;
				}

				&.lists {
					li {
						margin-bottom: 2em;
						padding: 0em 1.5em;
					}
				}

				&.default {
					li {
						margin-bottom: 0em !important;
					}
				}

				&.staff {
					li {
						margin: 0 0.50em;
					}
				}
			}

		/* Nav */

			#nav > ul > li {
				margin-left: 1.5em;
			}

		/* Header */

			#header {
				padding: 6em 0em;
			}

			#logo {
				position: relative;
				left: 0;
				margin: 0;
				width: 100%;

				h1 {
					display: block;
					text-align: center;

					a {
						font-size: 2.2em;
					}
				}
			}

		/* Nav */

			#nav {
				position: absolute;
				left: 0em;
				top: 4em;
				right: 0;

				> ul {
					text-align: center;

					> li {
						float: none;
						display: inline-block;

						&:last-child {
							padding-right: 0;
						}

						> a, > span {
							display: block;
						}
					}
				}
			}

		/* Banner */

			#banner {
				padding: 2em 0em 2em 0em !important;

				header {
					padding: 0em 1em;
					text-align: center;

					h2 {
						font-size: 1.8em;
					}

					.byline {
						font-size: 1.3em;
					}
				}

				.button {
					display: block;
					width: 100% !important;
					max-width: 320px;
					margin: 0 auto;
					padding: 0.70em 1em !important;
				}
			}

			#devices {
				height: 20.1em;
				min-height: 20.1em;
			}

			#laptop {
				width: 480px;
				height: 450px !important;
				float: none;
				position: relative;
				left: 50%;
				margin-left: -240px;
				padding: 1.4em 3.4em 3.5em 3.4em;
				background-size: 100%;
			}

			#mobile {
				bottom: 0;
				left: 50%;
				margin-left: -240px;
				width: 80px;
				padding: 1.4em 0.45em 1.0em 0.45em;
				height: 150px !important;
				background-size: 100%;
			}

		/* Content */

			#content {
				overflow: hidden;
				margin-bottom: 2em !important;
			}

		/* Featured */

			#featured .image-border {
				margin: 0em auto 2em auto;
				width: 360px;
				padding: 1.8em 2em 2em 2em;
			}

		/* Extra #1 */

			#extra {
				.content {
					padding: 3em 2.2em 3em 2.2em;
				}

				.button {
					margin-top: 1.5em;
				}

				ul {
					text-align: center;

					li {
						display: block;
						float: none;
						width: 100%;
					}

					img {
						border-radius: 6px 6px 0px 0px;
					}
				}
			}

		/* Extra #2 */

			#extra2 {
				text-align: center;

				header {
					margin-bottom: 3em;
					padding-right: 0;
				}
			}

		/* Contact */

			#contact {
				ul {
					position: relative;
				}

				li {
					display: inline-block;
					width: 45% !important;
					font-size: 0.95em;
				}
			}

		/* Newsletter */

			#newsletter {
				span {
					display: block;
					padding-bottom: 3em !important;
				}

				section {
					padding: 0em 2em !important;
				}
			}

		/* Device Image */

			#box1 {
				width: 400px;
				height: 260px;
				margin: 0em auto 4em auto;
			}

			#box2 {
				width: 100%;
				height: 240px;
				padding: 19px 42px 0px 42px !important;
			}

			#box3 {
				left: -1em !important;
			}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@include breakpoint(mobile) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
			}

			body {
				padding-top: 0;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.5em;
			}

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;

				> :first-child, &:first-child {
					margin-top: 0 !important;
				}
			}

		/* Lists */

			ul {
				&.list {
					text-align: center;
					overflow: hidden;

					li {
						display: block;
						width: 100%;
						margin: 0em;
						padding: 4em 0em 0em 0em;

						&:first-child {
							padding-top: 0em !important;
						}
					}

					.button {
						margin-top: 2em;
					}
				}

				&.icon {
					li {
						padding: 2em 0em;

						&:last-child {
							padding-bottom: 0;
						}
					}
				}

				&.actions {
					li {
						display: block;
					}
				}
			}

		/* Button */

			.button {
				display: block;
				width: 100% !important;
				line-height: 3.25em;
			}

		/* Header */

			#header {
				padding: 4.5em 0em 3.5em 0em;
			}

			#logo h1 a {
				font-size: 2.25em;
			}

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding: 4em 0em 2em 0em;

				header {
					padding: 0em 1em;
					text-align: center;

					h2 {
						font-size: 1.8em;
					}

					.byline {
						font-size: 1.3em;
					}
				}

				.button {
					margin-top: 0.50em;
					padding: 0em 1em;
					line-height: 2em;
					font-size: 1em;
				}
			}

			#laptop {
				width: 340px;
				height: 250px !important;
				float: none;
				position: relative;
				left: 50%;
				margin-left: -170px;
				padding: 1.1em 2.5em 3.5em 2.5em;
				background-size: 100%;
			}

			#mobile {
				bottom: 0;
				left: 50%;
				margin-left: -120px;
				width: 60px;
				padding: 1.2em 0.4em 0.0em 0.4em;
				height: 127px !important;
				background-size: 100%;
			}

		/* Wrapper */

			#wrapper {
				padding: 3em 0em 3em 0em;
			}

			.homepage #wrapper {
				padding: 0em 0em 3em 0em;
				background: #181719 url(images/bg01.png) repeat-x;
			}

		/* Main */

			#main .button {
				margin-top: 2em;
			}

		/* Content */

			#content {
				header {
					h2 {
						font-size: 2.1em;
					}

					.byline {
						font-size: 1.2em;
					}
				}

				h3 {
					font-size: 1.1em;
				}
			}

		/* Sidebar */

			#sidebar, #sidebar2 {
				section {
					margin-bottom: 4em !important;

					&:last-child {
						margin-bottom: 0em !important;
					}
				}
			}

		/* Featured */

			#featured .image-border {
				width: 100% !important;
				padding: 8% 9% 8% 9%;
			}

		/* Extra #1 */

			#extra {
				.content {
					padding: 3em 2.2em 3.5em 2.2em;
				}

				.button {
					margin-top: 2.50em;
				}

				ul {
					text-align: center;

					li {
						display: block;
						float: none;
						width: 100%;
					}

					img {
						border-radius: 6px 6px 0px 0px;
					}
				}
			}

		/* Extra #2 */

			#extra2 {
				padding: 4em 0em 2em 0em;
				text-align: center;

				header {
					margin-bottom: 0;
					padding-right: 0;
				}
			}

		/* Newsletter */

			#newsletter {
				padding: 3em 0em 1.5em 0em;

				section {
					text-align: center;
				}

				span {
					padding-bottom: 1em !important;
				}
			}

		/* Contact */

			#contact {
				padding: 4em 0em 3em 0em;

				ul {
					position: relative;
				}

				li {
					display: block;
					width: 100% !important;
					margin-top: 2em;
					padding: 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}

		/* Device Image */

			#box1 {
				position: relative;
				width: 220px;
				height: 140px !important;
				left: 50%;
				margin-left: -110px;
				margin-bottom: 0em !important;
			}

			#box2 {
				display: block;
				width: 100% !important;
				height: 140px !important;
				background-size: auto 100%;
				padding: 12px 18px 0px 18px !important;
			}

			#box3 {
				display: block;
				left: -.90em;
				bottom: 0;
				width: 50px;
				height: 85px;
				background-size: auto 100%;
				padding: 14px 5px 0px 5px;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				padding-bottom: 1px;
			}

			#titleBar {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transition', 'transform #{_duration(navPanel)} ease');
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: _misc(z-index-base) + 1;
				background: none;

				.toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;

					&:before {
						content: '';
						position: absolute;
						left: 7px;
						top: 7px;
						background: rgba(0, 0, 0, 0.2);
						width: 60px;
						height: 44px;
						border-radius: 4px;
					}

					&:after {
						content: '';
						display: block;
						width: 20px;
						height: 12px;
						position: absolute;
						left: 28px;
						top: 23px;
						background: url('images/toggle.svg') 0px 0px no-repeat;
						opacity: 0.7;
					}

					&:active:after {
						opacity: 0.9;
					}
				}
			}

			#navPanel {
				@include vendor('backface-visibility', 'hidden');
				@include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
				@include vendor('transition', ('transform #{_duration(navPanel)} ease'));
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: _size(navPanel);
				z-index: _misc(z-index-base) + 2;
				background: #1d1d1d;

				.link {
					display: block;
					color: #888;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;

					&.depth-0 {
						color: #fff;
					}
				}

				.indent-1 {
					display: inline-block;
					width: 1em;
				}

				.indent-2 {
					display: inline-block;
					width: 2em;
				}

				.indent-3 {
					display: inline-block;
					width: 3em;
				}

				.indent-4 {
					display: inline-block;
					width: 4em;
				}

				.indent-5 {
					display: inline-block;
					width: 5em;
				}

				.depth-0 {
					color: #fff;
				}
			}

			body {
				&.navPanel-visible {
					#page-wrapper {
						@include vendor('transform', 'translateX(#{_size(navPanel)})');
					}

					#titleBar {
						@include vendor('transform', 'translateX(#{_size(navPanel)})');
					}

					#navPanel {
						@include vendor('transform', 'translateX(0)');
					}
				}
			}

	}